<tr>
    <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
        <div class="inline-flex items-center gap-x-3">
            <input type="checkbox" class="text-sky-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">

            <div class="flex items-center gap-x-2">
                <div class="flex items-center justify-center w-8 h-8 text-sky-500 bg-sky-100 rounded-full dark:bg-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                    </svg>
                </div>
                
                <div>
                    <a href="/file/download/<%= currentUser.id %>/<%= file.parentId %>/<%= file.id %>" class="cursor-pointer font-normal text-gray-800 dark:text-white "><%= file.name %></a>
                </div>
            </div>
        </div>
    </td>
    <td class="px-12 py-4 text-sm font-normal text-gray-500 whitespace-nowrap">
        <%= file.sizeShort %>
    </td>
    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap"><%= file.createdAt.toString().substring(0,24) %></td>
    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap"><%= file.updatedAt.toString().substring(0,24) %></td>

    <td class="px-4 py-4 text-sm whitespace-nowrap">
        <div class="dropdown dropdown-left dropdown-end">
        <button tabindex="0"class="px-1 py-1 text-gray-500 transition-colors duration-200 bg-white border rounded-lg sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-white dark:border-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
            </svg>
        </button>
        <ul tabindex="0" class="dropdown-content menu bg-gray-300 dark:bg-gray-800 rounded-box z-[2] w-48 p-1 shadow mr-2">
            <li><a href="/file/delete/<%=currentUser.id%>/<%=file.id%>" class="text-red-600">Delete file</a></li>
            <li>
                <form action="/file/edit/<%=currentUser.id%>/<%=file.id%>" method="post" class="flex flex-col">
                    <div class="flex justify-between w-full">
                    <label for="editname" class="self-start text-xs">Edit file name.</label>
                    <button type="submit" class="px-1 text-xs tracking-wide text-white transition-colors duration-200 bg-sky-500 rounded-sm sm:w-auto gap-x-2 hover:bg-sky-600 dark:hover:bg-sky-500 dark:bg-sky-600">Confirm</button>
                    </div>
                    <input required class="w-full rounded-sm"type="text" name="editname" value="<%= file.name %>" placeholder="<%= file.name %>">
                    </form>
            </li>

        </ul>
    
    
        </div>
    </td>
</tr>