<tr>
    <td class="px-4 py-3 text-sm font-medium text-gray-700 whitespace-nowrap">
        <div class="inline-flex items-center gap-x-3">
            <input type="checkbox" class="text-sky-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">

            <div class="flex items-center gap-x-2">
                <div class="flex items-center justify-center w-8 h-8 text-sky-500 bg-sky-100 rounded-full dark:bg-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5h6.75l1.5 1.5H21a1.125 1.125 0 011.125 1.125v10.5A1.125 1.125 0 0121 21H3a1.125 1.125 0 01-1.125-1.125V8.625A1.125 1.125 0 013 7.5z" />
                    </svg>
                </div>
                
                <div>
                    <a href="/drive/<%=currentUser.id%>/<%=currentUser.fullName%>/<%=folder.id%>/1"
                    class="cursor-pointer hover:underline font-normal text-gray-800 dark:text-white "><%= folder.name %></a>
              
                </div>
            </div>
        </div>
    </td>
    <td class="px-12 py-3 text-sm font-normal text-gray-500 whitespace-nowrap">
        -
    </td>
    <td class="px-4 py-3 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap"><%= folder.createdAt.toString().substring(0,24) %></td>
    <td class="px-4 py-3 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap"><%= folder.updatedAt.toString().substring(0,24) %></td>

    <td class="px-4 py-3 text-sm whitespace-nowrap">
        <div class="dropdown dropdown-right dropdown-end">
        <button tabindex="0"class="px-1 py-1 text-gray-500 transition-colors duration-200 bg-white border rounded-lg sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-white dark:border-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
            </svg>
        </button>
        <ul tabindex="0" class="dropdown-content menu border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700 rounded-box z-[2] w-48 p-1 shadow ml-2">
            <li><a href="/folder/delete/<%=currentUser.id%>/<%=folder.id%>" class="text-red-600">Delete folder</a></li>
            <li>
                <form action="/folder/edit/<%=currentUser.id%>/<%=folder.id%>" method="post" class="flex flex-col">
                    <div class="flex justify-between w-full">
                    <label for="editname" class="self-start text-xs">Edit folder name.</label>
                    <button type="submit" class="px-1 text-xs tracking-wide text-white transition-colors duration-200 bg-sky-500 rounded-sm sm:w-auto gap-x-2 hover:bg-sky-600 dark:hover:bg-sky-500 dark:bg-sky-600">Confirm</button>
                    </div>
                    <input required class="w-full rounded-sm"type="text" name="editname" value="<%= folder.name %>" placeholder="<%= folder.name %>">
                </form>
            </li>

        </ul>
    
    
        </div>
    </td>
</tr>